<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epg.act.mapper.TimeMapper">

    <select id="pageData" resultType="com.epg.act.entity.EggTime">
        SELECT * FROM EGG_TIME LIMIT ${current},${size};
    </select>
    <select id="pageCount" resultType="java.lang.Long">
        SELECT count(ID) FROM EGG_TIME;
    </select>

</mapper>